.wrapper {
    background-color: #e9f0f3;
}

.wrapperSubjectFilter {
    background: rgb(233,240,243);
    background: linear-gradient(180deg, rgba(233,240,243,1) 0%, rgba(233,240,243,1) 83%, rgba(0,212,255,0) 85%);
}
