.wrapper {
    background-color: #fff;
    box-shadow: 0px 0px 34px 0px rgba(103, 138, 161, 0.20); 
}

.title{
    color: var(--color-black-800, #232F37); 
}

.subText {
    color: var(--color-black-400, #678AA1); 
}

.button{
    border-color: var(--Stroke, #E3E5EA);;
}